src/flows/Close_NIST_Case.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <description>This flow is part of the NIST Case process. The queue is managed by ITA SF users (trade specialists). The Case Owner updates when a user with the NIST profile assigned, clicks on the &quot;Close_Case_NIST&quot; action on the Transaction Management Support page layout,</description>
        <name>TransactionManagementSupportQueue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Transaction_Management_Support</stringValue>
        </value>
    </constants>
    <description>Close function that updates case owner and status fields.</description>
    <formulas>
        <name>CaseOwner</name>
        <dataType>String</dataType>
        <expression>IF({!UserProfile} = &quot;NIST User&quot;, {!TransactionManagementSupportQueue}, {!$User.Id})</expression>
    </formulas>
    <formulas>
        <name>CaseReason</name>
        <dataType>String</dataType>
        <expression>IF({!UserProfile} = &quot;NIST User&quot;, &quot;From NIST&quot;, &quot;To NIST&quot;)</expression>
    </formulas>
    <formulas>
        <name>CaseStatus</name>
        <dataType>String</dataType>
        <expression>IF({!UserProfile} = &quot;NIST User&quot;, &quot;In Progress&quot;, &quot;Successfully Closed&quot;)</expression>
    </formulas>
    <formulas>
        <name>UserProfile</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <interviewLabel>Close NIST Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close NIST Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Pulling Transaction_Management_Support queue into the flow</description>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>308</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TransactionManagementSupportQueue</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>645</locationX>
        <locationY>69</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <elementReference>CaseReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>CaseStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
