src/flows/Commercial_Diplomacy_Demo_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_Confirmation_Email</name>
        <label>Send Confirmation Email</label>
        <locationX>827</locationX>
        <locationY>47</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Formatted_Email_Response_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>requesterEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Std_Email_Response_Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_New_Barrier_Notification</name>
        <label>Send New Barrier Notification</label>
        <locationX>675</locationX>
        <locationY>177</locationY>
        <actionName>Task.CD_Send_email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_Confirmation_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Task_ID_Variable</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <constants>
        <name>Baron_User_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005t0000000XfaxAAC</stringValue>
        </value>
    </constants>
    <constants>
        <name>Std_Email_Response_Body</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Thank you for your submission to the International Trade Administration (ITA) via our Report a Trade Barrier Hotline. An ITA officer will contact you shortly.  ITA protects U.S. exporters by reducing, removing, or preventing trade barriers caused by foreign government behavior such as unfair laws, policies, or procedures, including those non-compliant with trade agreement obligations.  Please note this service is only for U.S. exporters and if your submission does not involve a trade barrier caused by a foreign government, we may refer you to other government resources as appropriate.</stringValue>
        </value>
    </constants>
    <constants>
        <name>Std_Email_Response_Subject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Report a Foreign Trade Barrier</stringValue>
        </value>
    </constants>
    <constants>
        <name>Task_Subject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>New Trade Barrier Submitted for Review</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Address_Validate</name>
        <label>Address Validate</label>
        <locationX>314</locationX>
        <locationY>219</locationY>
        <defaultConnector>
            <targetReference>Report_a_Foreign_Trade_Barrier_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Address_Validation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>requesterCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>requesterCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>requesterCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>United States</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>requesterStreet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>requesterStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>requesterPostalCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>requesterPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>requesterStateProvince</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>requesterStateProvince</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Report_A_Foreign_Trade_Barrier</targetReference>
            </connector>
            <label>Address Validation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Fields</name>
        <label>Validate Fields</label>
        <locationX>488</locationX>
        <locationY>160</locationY>
        <defaultConnector>
            <targetReference>Create_CD_Triage_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Validate_Field1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>HowReferred_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>--Select--</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>What_Does_This_Problem_Involve_Task_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>--Select--</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Foreign_Country_Involved_in_the_Trade_Barrier</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>--Select--</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Foreign_Country_Involved_in_the_Trade_Barrier</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>What_Does_This_Problem_Involve_Task_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HowReferred_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReferralMethod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>--Select--</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Report_a_Foreign_Trade_Barrier_2</targetReference>
            </connector>
            <label>Validate Fields</label>
        </rules>
    </decisions>
    <description>To mock up a demo of the online form to collect public trade barrier information and then create the needed records in Salesforce. 3rd iteration connects Commercial Diplomacy Triage to process</description>
    <dynamicChoiceSets>
        <description>The country picklist from the Country object; will be replaced by Taxonomy Tagging object.</description>
        <name>Country_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country__c</picklistField>
        <picklistObject>RelatedCountries__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Country_Picklist_1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country1__c</picklistField>
        <picklistObject>Commercial_Diplomacy_Triage__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HowReferred_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>How_Referred__c</picklistField>
        <picklistObject>Commercial_Diplomacy_Triage__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReferralMethod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>How_Referred__c</picklistField>
        <picklistObject>Commercial_Diplomacy_Triage__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StateProvincePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>State__c</picklistField>
        <picklistObject>Commercial_Diplomacy_Triage__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>What_Does_This_Problem_Involve_Task_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CD_Problem__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>TDueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+2</expression>
    </formulas>
    <interviewLabel>Trade Barrier {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trade Barrier</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates the Commercial Diplomacy Triage record from the website data</description>
        <name>Create_CD_Triage_Record</name>
        <label>Create CD Triage Record</label>
        <locationX>574</locationX>
        <locationY>374</locationY>
        <assignRecordIdToReference>CD_Triage_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>requesterCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>requestorCompanyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country1__c</field>
            <value>
                <elementReference>requesterCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_of_Trade_Barrier__c</field>
            <value>
                <elementReference>Description_of_the_Trade_Barrier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>requesterEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Foreign_Countries_Involved1__c</field>
            <value>
                <elementReference>Foreign_Country_Involved_in_the_Trade_Barrier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_Referred__c</field>
            <value>
                <elementReference>ReferralMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>requesterPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_or_Service_Impacted__c</field>
            <value>
                <elementReference>Product_or_Service_Impacted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Details__c</field>
            <value>
                <elementReference>Referral_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>requesterStateProvince</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_Address__c</field>
            <value>
                <elementReference>requesterStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_does_this_problem_involve__c</field>
            <value>
                <elementReference>What_Does_This_Problem_Involve_Task_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>zPostal_Code__c</field>
            <value>
                <elementReference>requesterPostalCode</elementReference>
            </value>
        </inputAssignments>
        <object>Commercial_Diplomacy_Triage__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>563</locationX>
        <locationY>47</locationY>
        <assignRecordIdToReference>Task_ID_Variable</assignRecordIdToReference>
        <connector>
            <targetReference>Send_New_Barrier_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commercial_Diplomacy_Triage__c</field>
            <value>
                <elementReference>CD_Triage_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Task_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CD_Triage_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>968</locationX>
        <locationY>185</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation_Page</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Your form was submitted successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Report_A_Foreign_Trade_Barrier</name>
        <label>Report A Foreign Trade Barrier</label>
        <locationX>126</locationX>
        <locationY>273</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Address_Validate</targetReference>
        </connector>
        <fields>
            <name>ContactInfo</name>
            <fieldText>&lt;p&gt;&lt;u&gt;Enter contact information in the fields below&lt;/u&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FirstName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>FirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LastName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>requesterPhoneNo</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>requesterPhone</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>requesterPhone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>requesterEmailAddr</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>requesterEmail</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>requesterEmail</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>CompanyInfo</name>
            <fieldText>&lt;p&gt;&lt;u&gt;Enter company information in the fields below&lt;/u&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>requestorCompanyName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>requestorCompanyName</elementReference>
            </defaultValue>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Address_required</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(205, 16, 34);&quot;&gt;*All address fields are required*&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i&gt;If you are a U.S. company with operations overseas, please provide the U.S. operating address of your business&lt;/i&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>requesterAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>requesterCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputCountryOptions</name>
                <value>
                    <elementReference>Country_Picklist_1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <stringValue>United States</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>requesterPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputProvinceOptions</name>
                <value>
                    <elementReference>StateProvincePicklist</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>requesterStateProvince</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>requesterStreet</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>requesterCity</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>requesterCountry</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>requesterPostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>requesterStateProvince</assignToReference>
                <name>inputProvinceOptions</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>requesterStreet</assignToReference>
                <name>street</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>requesterStateProvince</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>requesterCountry</assignToReference>
                <name>inputCountryOptions</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Page1of3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Page&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;1&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;of&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;2&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>2nd screen in the flow</description>
        <name>Report_a_Foreign_Trade_Barrier_2</name>
        <label>Report a Foreign Trade Barrier</label>
        <locationX>321</locationX>
        <locationY>35</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Validate_Fields</targetReference>
        </connector>
        <fields>
            <name>Trade_Barrier_Information</name>
            <fieldText>&lt;p&gt;&lt;u&gt;Trade Barrier Information&lt;/u&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_does_this_problem_involve</name>
            <choiceReferences>What_Does_This_Problem_Involve_Task_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What does this problem involve?  (Required)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Foreign_Country_Involved_in_the_Trade_Barrier</name>
            <choiceReferences>Country_Picklist_1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Foreign Government Involved in the Trade Barrier (Required)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Product_or_Service_Impacted</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Product_or_Service_Impacted</elementReference>
            </defaultValue>
            <fieldText>Product or Service Impacted:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_of_the_Trade_Barrier</name>
            <defaultValue>
                <stringValue>{!Description_of_the_Trade_Barrier}</stringValue>
            </defaultValue>
            <fieldText>Description of the Trade Barrier:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Thank_You_For_Submission</name>
            <fieldText>&lt;p&gt;&lt;u&gt;If you have a moment, please tell us how you heard about us below:&lt;/u&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Referral_Method1</name>
            <choiceReferences>ReferralMethod</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How Referred  (Required)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Referral_Details</name>
            <defaultValue>
                <stringValue>{!Referral_Details}</stringValue>
            </defaultValue>
            <fieldText>Referral Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please provide a short description (255 characters or less)&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Referral_Details}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Page2of3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Page&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;2&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;of&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;2&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Report_A_Foreign_Trade_Barrier</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Formatted_Email_Response_Body</name>
        <text>Thank you for your submission to the International Trade Administration (ITA) via our Report a Trade Barrier Hotline. An ITA officer will contact you shortly.

ITA protects U.S. exporters by reducing, removing, or preventing trade barriers caused by foreign government behavior such as unfair laws, policies, or procedures, including those non-compliant with trade agreement obligations.

Please note this service is only for U.S. exporters and if your submission does not involve a trade barrier caused by a foreign government, we may refer you to other government resources as appropriate.</text>
    </textTemplates>
    <variables>
        <description>the record ID of the Commercial Diplomacy Triage record that is created by automation.</description>
        <name>CD_Triage_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>requesterCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>requesterCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>requesterEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>requesterFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>requesterLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>requesterPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>requesterPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>requesterStateProvince</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>requesterStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Task_ID_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
