src/flows/CP_Company_Questionnaire.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <description>Assigns the field values, record type Id, and organization to the Client Form Company Questionnaire.</description>
        <name>asgmt_Company_Questionnaire</name>
        <label>Assign Company Questionnaire Values</label>
        <locationX>1484</locationX>
        <locationY>658</locationY>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Addtl_Services_or_Assistance_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Addtl_Services_or_Assistance_Required</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Alternate_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTxt_Alternate_Contact_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Alternative_Dates__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Alternative_Dates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Annual_Exports_As_Total_Sales__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Annual_Exports_As_Total_Sales</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Approximate_No_Years_Exporting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Approximate_No_Years_Exporting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Average_Annual_Sales__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Average_Annual_Sales</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Average_Time_To_Complete_A_Sale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Average_Time_To_Complete_A_Sale</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Average_Time_To_Sign_New_Dist_Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Average_Time_To_Sign_New_Dist_Partner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Brief_Company_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Brief_Company_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Business_Objectives__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Business_Objectives</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Client_Has_Rights_To_Export_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Client_Has_Rights_To_Export_Product</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Company_Activities__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Company_Activities</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Company_Already_Represented_In_Market__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Company_Already_Represented_In_Market</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Company_Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Company_Size</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Countries_Exporting_To_Past_Present__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Countries_Exporting_To_Past_Present</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Countries_Of_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Countries_of_Interest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Current_Rep_Dist_Aware_of_New_Search__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Current_Rep_Dist_Aware_of_New_Search</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Currently_Working_With_A_USEAC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Currently_Working_With_A_USEAC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Date_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Date_Completed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Desired_Dates_for_Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Desired_Dates_for_Service</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Desired_Locations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Desired_Locations</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Desired_Qualities_Of_Target_Partners__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Desired_Qualities_Of_Target_Partners</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Domestic_And_International_Trade_Shows__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Domestic_And_International_Trade_Shows</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Exhibit_Shows__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Exhibit_Shows</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Export_Control_Classification_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Export_Control_Classification_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Firms_Persons_Not_To_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Firms_Persons_Not_To_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Firms_Persons_To_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Firms_Persons_To_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Hyperlinks_For_Marketing_Materials__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Hyperlinks_For_Marketing_Materials</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Intl_Licenses_Registrations_Pending__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Intl_Licenses_Registrations_Pending</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Is_This_Arrangement_Exclusive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Is_This_Arrangement_Exclusive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Major_Competitors_At_Home__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Major_Competitors_At_Home</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Major_Competitors_In_Target_Markets__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Major_Competitors_In_Target_Markets</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Most_Important_End_Users__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Most_Important_End_Users</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Number_Of_Employees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Number_Of_Employees</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Objectives_Interests_In_Target_Market__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Objectives_Interests_In_Target_Market</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Organization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recLookup_Portal_Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Other_Business_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Other_Business_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Other_Company_Activities__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Other_Company_Activities</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Partner_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Partner_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Partner_Company_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Partner_Company_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Partner_Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTxt_Partner_Contact_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Partner_Contact_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Partner_Contact_First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Partner_Contact_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Partner_Contact_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Partner_Contact_Telephone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTxt_Partner_Contact_Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Partner_Contact_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Partner_Contact_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Partner_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Partner_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Partner_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Partner_Postal_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Partner_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Partner_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Partner_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Partner_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Partner_Website__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Partner_Website</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTxt_Primary_Contact_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Primary_NAICs_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Primary_NAICs_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Product_License_Or_Registration_In_US__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Product_License_Or_Registration_In_US</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Product_License_Registration_Outside_US__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Product_License_Registration_Outside_US</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Products_Services_Advantages_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Products_Services_Advantages_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Qualifies_As_US_Exporter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Qualifies_As_US_Exporter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Related_Products_Handled_By_Distributor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Related_Products_Handled_By_Distributor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Schedule_BHS_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Schedule_BHS_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Seeking_Exclusive_Representation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Seeking_Exclusive_Representation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Sub_Sectors_Served__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Sub_Sectors_Served</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Sub_Sectors_Served_Prioritized__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Sub_Sectors_Served_Prioritized</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Trade_Specialist_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Trade_Specialist_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Type_Of_Business_Contacts_Saught__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Type_Of_Business_Contacts_Saught</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Typical_Dist_Marketing_Outside_US__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Typical_Dist_Marketing_Outside_US</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.Typical_Distribution_Marketing_In_US__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Typical_Distribution_Marketing_In_US</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.US_Prod_Licenses_Registrations_Pending__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_US_Prod_Licenses_Registrations_Pending</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.USEAC_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_USEAC_Location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.More_Than_One_Distributor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_More_Than_One_Distributor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.More_Than_One_Distributor_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_More_Than_One_Distributor_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecord_CQ.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTxt_Record_Type_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recCreate_Company_Questionnaire</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgmt_Company_Questionnaire_Create_Error_Message</name>
        <label>Assign Company Questionnaire Create Error Message</label>
        <locationX>421</locationX>
        <locationY>660</locationY>
        <assignmentItems>
            <assignToReference>varTxt_Flow_Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTxt_Company_Questionnaire_Create_Error_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen_Flow_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the portal contact from the portal contact lookup.</description>
        <name>asgmt_Portal_Contact</name>
        <label>Assign Portal Contact</label>
        <locationX>694</locationX>
        <locationY>312</locationY>
        <assignmentItems>
            <assignToReference>varRecord_Portal_Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recLookup_Portal_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen_General_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgmt_Portal_Contact_Error_Message</name>
        <label>Assign Portal Contact Error Message</label>
        <locationX>421</locationX>
        <locationY>531</locationY>
        <assignmentItems>
            <assignToReference>varTxt_Flow_Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTxt_Portal_Contact_Error_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen_Flow_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgmt_Record_Type_Error_Message</name>
        <label>Assign Record Type Error Message</label>
        <locationX>184</locationX>
        <locationY>176</locationY>
        <assignmentItems>
            <assignToReference>varTxt_Flow_Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTxt_Record_Type_Error_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen_Flow_Error</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Default value for the Flow&apos;s picklist fields.</description>
        <name>choice_PicklistDefault</name>
        <choiceText>--Please Select--</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <description>Checks to see if the portal contact returned a result and directs user to error screen if not.</description>
        <name>dec_Portal_Contact_Found</name>
        <label>Portal Contact Found?</label>
        <locationX>481</locationX>
        <locationY>313</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>out_Portal_Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recLookup_Portal_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asgmt_Portal_Contact</targetReference>
            </connector>
            <label>Portal Contact Found</label>
        </rules>
        <rules>
            <name>out_Portal_Contact_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recLookup_Portal_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asgmt_Portal_Contact_Error_Message</targetReference>
            </connector>
            <label>Portal Contact Not Found</label>
        </rules>
    </decisions>
    <description>Client Form Customer Portal Company Questionnaire.</description>
    <dynamicChoiceSets>
        <name>choiceSet_Annual_Exports_As_Total_Sales</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Annual_Exports_As_Total_Sales__c</picklistField>
        <picklistObject>Client_Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceSet_Average_Annual_Sales</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Average_Annual_Sales__c</picklistField>
        <picklistObject>Client_Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceSet_Average_Time_To_Complete_A_Sale</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Average_Time_To_Complete_A_Sale__c</picklistField>
        <picklistObject>Client_Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceSet_Average_Time_To_Sign_New_Dist_Partner</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Average_Time_To_Sign_New_Dist_Partner__c</picklistField>
        <picklistObject>Client_Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceSet_Client_Has_Rights_To_Export_Product</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Client_Has_Rights_To_Export_Product__c</picklistField>
        <picklistObject>Client_Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceSet_Company_Activities</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Company_Activities__c</picklistField>
        <picklistObject>Client_Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceSet_Company_Already_Represented_In_Market</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Company_Already_Represented_In_Market__c</picklistField>
        <picklistObject>Client_Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceSet_Company_Size</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Company_Size__c</picklistField>
        <picklistObject>Client_Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceSet_Countries_Exporting_To_Past_Present</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Countries_Exporting_To_Past_Present__c</picklistField>
        <picklistObject>Client_Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceSet_Countries_Of_Interest</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Countries_Of_Interest__c</picklistField>
        <picklistObject>Client_Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceSet_Current_Rep_Dist_Aware_of_New_Search</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Current_Rep_Dist_Aware_of_New_Search__c</picklistField>
        <picklistObject>Client_Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceSet_Currently_Working_With_A_USEAC</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Currently_Working_With_A_USEAC__c</picklistField>
        <picklistObject>Client_Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceSet_Is_This_Arrangement_Exclusive</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_This_Arrangement_Exclusive__c</picklistField>
        <picklistObject>Client_Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceSet_More_Than_One_Distributor</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>More_Than_One_Distributor__c</picklistField>
        <picklistObject>Client_Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceSet_Partner_Country</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Partner_Country__c</picklistField>
        <picklistObject>Client_Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceSet_Qualifies_As_US_Exporter</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Qualifies_As_US_Exporter__c</picklistField>
        <picklistObject>Client_Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceSet_Seeking_Exclusive_Representation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Seeking_Exclusive_Representation__c</picklistField>
        <picklistObject>Client_Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceSet_Type_Of_Business_Contacts_Saught</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_Of_Business_Contacts_Saught__c</picklistField>
        <picklistObject>Client_Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceSet_Typical_Dist_Marketing_Outside_US</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Typical_Dist_Marketing_Outside_US__c</picklistField>
        <picklistObject>Client_Form__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>Create&apos;s a compound address from the Account&apos;s address fields.</description>
        <name>fx_Headquarters_Address</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!varRecord_Portal_Contact.Account.BillingStreet})), {!varRecord_Portal_Contact.Account.BillingStreet} &amp; &quot; &quot;, &quot;&quot; ) &amp; BR()
  &amp; IF(NOT(ISBLANK({!varRecord_Portal_Contact.Account.BillingCity})), {!varRecord_Portal_Contact.Account.BillingCity} &amp; &quot;, &quot;, &quot;&quot; )
  &amp; IF(NOT(ISBLANK({!varRecord_Portal_Contact.Account.BillingState})), {!varRecord_Portal_Contact.Account.BillingState} &amp; &quot; &quot;, &quot;&quot; )
  &amp; IF(NOT(ISBLANK({!varRecord_Portal_Contact.Account.BillingPostalCode})), {!varRecord_Portal_Contact.Account.BillingPostalCode}, &quot;&quot;) &amp; BR()
  &amp; IF(NOT(ISBLANK({!varRecord_Portal_Contact.Account.BillingCountry})), {!varRecord_Portal_Contact.Account.BillingCountry}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Stores the user&apos;s Contact Id so we can query the user&apos;s contact record.</description>
        <name>fx_User_Contact_Id</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <interviewLabel>CP Company Questionnaire {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Company Questionnaire</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates the Client Form Company Questionnaire.</description>
        <name>recCreate_Company_Questionnaire</name>
        <label>Create Company Questionnaire</label>
        <locationX>1357</locationX>
        <locationY>658</locationY>
        <connector>
            <targetReference>screen_Company_Questionnaire_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>asgmt_Company_Questionnaire_Create_Error_Message</targetReference>
        </faultConnector>
        <inputReference>varRecord_CQ</inputReference>
    </recordCreates>
    <recordLookups>
        <name>recLookup_Portal_Contact</name>
        <label>Find Portal Contact Record</label>
        <locationX>334</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_Portal_Contact_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>asgmt_Portal_Contact_Error_Message</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTxt_Contact_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Client Form&apos;s Exporter Company Questionnaire record type.</description>
        <name>recLookup_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>333</locationX>
        <locationY>176</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recLookup_Portal_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>asgmt_Record_Type_Error_Message</targetReference>
        </faultConnector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTxt_Record_Type_Developer_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client_Form__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varTxt_Record_Type_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>screen_Business_Objectives</name>
        <label>Business Objectives</label>
        <locationX>1119</locationX>
        <locationY>477</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>screen_Marketing_Information</targetReference>
        </connector>
        <fields>
            <name>dsp_Business_Objectives_Heading</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 75, 132);&quot;&gt;Business Objectives&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>fld_Currently_Working_With_A_USEAC</name>
            <choiceReferences>choice_PicklistDefault</choiceReferences>
            <choiceReferences>choiceSet_Currently_Working_With_A_USEAC</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you currently working with a local U.S. Commercial Service Field Office?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>fld_USEAC_Location</name>
            <dataType>String</dataType>
            <fieldText>If yes, please provide the following:| |City:|Text|</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Trade_Specialist_Name</name>
            <dataType>String</dataType>
            <fieldText>Trade Specialist (name):</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Type_Of_Business_Contacts_Saught</name>
            <choiceReferences>choiceSet_Type_Of_Business_Contacts_Saught</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What type of business contacts are you seeking?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Other_Business_Contact</name>
            <dataType>String</dataType>
            <fieldText>Other business contact (please specify):</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Seeking_Exclusive_Representation</name>
            <choiceReferences>choice_PicklistDefault</choiceReferences>
            <choiceReferences>choiceSet_Seeking_Exclusive_Representation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is your firm seeking representation on an exclusive basis in this market?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>fld_Objectives_Interests_In_Target_Market</name>
            <fieldText>Describe your company&apos;s interests and objectives in the target market or any special features of your company’s operations that can help us identify potential business partners.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Desired_Qualities_Of_Target_Partners</name>
            <fieldText>Describe any preferences, technical qualifications, servicing capabilities, requirements, or pre- qualifications that ideal prospects must have (i.e. size, geographic territory, investment, etc).</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Firms_Persons_To_Contact</name>
            <fieldText>Are there any specific companies, or types of companies, you would like us to contact? If so, please list them here.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Firms_Persons_Not_To_Contact</name>
            <fieldText>Are they any specific companies, or types of companies, you would like us NOT to contact?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Company_Product_Information</name>
        <label>Company &amp; Product Information</label>
        <locationX>983</locationX>
        <locationY>477</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>screen_Business_Objectives</targetReference>
        </connector>
        <fields>
            <name>dsp_Contact_Product_Information_Heading</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 75, 132);&quot;&gt;Company &amp;amp; Product Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>fld_Company_Activities</name>
            <choiceReferences>choiceSet_Company_Activities</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Company Activity(ies):</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Other_Company_Activities</name>
            <fieldText>Other Company Activities:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Brief_Company_Description</name>
            <fieldText>Brief Company Description:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Primary_NAICs_Code</name>
            <dataType>String</dataType>
            <fieldText>Primary NAICs Code:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Number_Of_Employees</name>
            <dataType>Number</dataType>
            <fieldText>Number Of Employees:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>fld_Average_Annual_Sales</name>
            <choiceReferences>choice_PicklistDefault</choiceReferences>
            <choiceReferences>choiceSet_Average_Annual_Sales</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Average Annual Sales:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>fld_Company_Size</name>
            <choiceReferences>choice_PicklistDefault</choiceReferences>
            <choiceReferences>choiceSet_Company_Size</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please certify your company size:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>fld_Qualifies_As_US_Exporter</name>
            <choiceReferences>choice_PicklistDefault</choiceReferences>
            <choiceReferences>choiceSet_Qualifies_As_US_Exporter</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you a U.S. exporter and is your product/service of U.S. origin or contain at least 51% U.S. content?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>fld_Annual_Exports_As_Total_Sales</name>
            <choiceReferences>choice_PicklistDefault</choiceReferences>
            <choiceReferences>choiceSet_Annual_Exports_As_Total_Sales</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Annual Exports (as % Total Sales):</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>fld_Approximate_No_Years_Exporting</name>
            <dataType>String</dataType>
            <fieldText>Approximate No. Years Exporting:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Countries_Exporting_To_Past_Present</name>
            <choiceReferences>choiceSet_Countries_Exporting_To_Past_Present</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Countries Exporting To (past and present):</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Client_Has_Rights_To_Export_Product</name>
            <choiceReferences>choice_PicklistDefault</choiceReferences>
            <choiceReferences>choiceSet_Client_Has_Rights_To_Export_Product</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does your company produce or have rights to export the product/service?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>fld_Schedule_BHS_Code</name>
            <fieldText>Please list the Schedule B/HS Code (and corresponding product description):</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Export_Control_Classification_Number</name>
            <dataType>String</dataType>
            <fieldText>Please list the Export Control Classification Number (ECCN):</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Products_Services_Advantages_Description</name>
            <fieldText>Describe the product/service(s) to be promoted, including its competitive advantages and unique selling proposition.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Product_License_Or_Registration_In_US</name>
            <fieldText>What type of licensing or registration does your product/service require in the U.S. (i.e. FDA Approval)? Which requirements do you carry?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_US_Prod_Licenses_Registrations_Pending</name>
            <fieldText>Are there any U.S. licensing or registration requirements pending?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Product_License_Registration_Outside_US</name>
            <fieldText>What type of licensing or registration does your product/service require internationally (CE Mark, WEE, RoHS, CCC, GOST-R, FDA Classification, ASME, etc.)? Which requirements do you carry?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Intl_Licenses_Registrations_Pending</name>
            <fieldText>Are there any international licensing or registration requirements pending?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Sub_Sectors_Served</name>
            <fieldText>Does your product/service serve a particular group of sub-sectors (for the building sector, this could mean industrial vs. commercial vs. residential; for the medical sector, oncology, ENT, orthopedic, etc.; or for the energy sector, this could include coal, nuclear, gas, oil, etc.)?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Sub_Sectors_Served_Prioritized</name>
            <fieldText>Please prioritize those sub-sectors that you want us to pursue.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Major_Competitors_At_Home</name>
            <fieldText>Who are your major competitors at home?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Major_Competitors_In_Target_Markets</name>
            <fieldText>Who are your major competitors in the target market(s)?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Most_Important_End_Users</name>
            <fieldText>Please list the most important end-users or end-user industries for this product/service.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Typical_Distribution_Marketing_In_US</name>
            <fieldText>How is your product typically distributed and marketed in the U.S?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Typical_Dist_Marketing_Outside_US</name>
            <choiceReferences>choice_PicklistDefault</choiceReferences>
            <choiceReferences>choiceSet_Typical_Dist_Marketing_Outside_US</choiceReferences>
            <dataType>String</dataType>
            <fieldText>(If applicable) How is your product typically distributed and marketed outside of the U.S?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>fld_Related_Products_Handled_By_Distributor</name>
            <fieldText>What related products might a representative/partner of this product/service also handle?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_More_Than_One_Distributor</name>
            <choiceReferences>choice_PicklistDefault</choiceReferences>
            <choiceReferences>choiceSet_More_Than_One_Distributor</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does (or can) your company use more than one distributor/reseller/wholesaler/agent in a country?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>fld_More_Than_One_Distributor_Details</name>
            <fieldText>If yes, does it depend on the geography, market size, or industry? Please explain briefly.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Domestic_And_International_Trade_Shows</name>
            <fieldText>What are the domestic and international trade shows for your industry/company?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Exhibit_Shows</name>
            <fieldText>Please indicate which shows do you exhibit at and/or walk?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Average_Time_To_Sign_New_Dist_Partner</name>
            <choiceReferences>choice_PicklistDefault</choiceReferences>
            <choiceReferences>choiceSet_Average_Time_To_Sign_New_Dist_Partner</choiceReferences>
            <dataType>String</dataType>
            <fieldText>From the time you first meet a new marketing partner (distributor, agent, dealer, etc.), on average, how long does it take to sign a partner (distributor, agent, dealer, etc.) agreement?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>fld_Average_Time_To_Complete_A_Sale</name>
            <choiceReferences>choice_PicklistDefault</choiceReferences>
            <choiceReferences>choiceSet_Average_Time_To_Complete_A_Sale</choiceReferences>
            <dataType>String</dataType>
            <fieldText>From the time you (or your distributor) first meet a new end-user, on average, how long does it take to complete a sale?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Company_Questionnaire_Created</name>
        <label>Company Questionnaire Created</label>
        <locationX>1358</locationX>
        <locationY>814</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dsp_Id</name>
            <fieldText>&lt;p&gt;Thank you. Your Company Questionnaire has been submitted.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Contact_Information</name>
        <label>Contact Information</label>
        <locationX>829</locationX>
        <locationY>477</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>screen_Company_Product_Information</targetReference>
        </connector>
        <fields>
            <name>dsp_Contact_Information_Heading</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 75, 132); font-size: 14px;&quot;&gt;Contact Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dsp_Company_Name</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Company Name:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!varRecord_Portal_Contact.Account.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dsp_Headquarters_Address</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Headquarters Address:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!fx_Headquarters_Address}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dsp_Website</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Website:﻿&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!varRecord_Portal_Contact.Account.Website}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>fld_Primary_Contact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Primary_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Primary Contact:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Client_Form__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varTxt_Primary_Contact_Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>fld_Alternate_Contact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Alternate_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Alternate Contact:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Client_Form__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varTxt_Alternate_Contact_Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Flow_Error</name>
        <label>Flow Error</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dsp_Error_Message</name>
            <fieldText>&lt;p&gt;{!varTxt_Flow_Error_Message}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_General_Information</name>
        <label>General Information</label>
        <locationX>695</locationX>
        <locationY>477</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>screen_Contact_Information</targetReference>
        </connector>
        <fields>
            <name>dsp_General_Information_Heading</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 75, 132); font-size: 14px;&quot;&gt;General Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>fld_Date_Completed</name>
            <dataType>Date</dataType>
            <fieldText>Date Completed:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Business_Objectives</name>
            <fieldText>Business Objectives:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Countries_of_Interest</name>
            <choiceReferences>choiceSet_Countries_Of_Interest</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Country(ies) of Interest:</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Local_Partner_Information</name>
        <label>Local Partner Information</label>
        <locationX>1363</locationX>
        <locationY>477</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>screen_Logistical_Information</targetReference>
        </connector>
        <fields>
            <name>dsp_Local_Partner_Information_Heading</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 75, 132);&quot;&gt;Local Partner Information (if applicable)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>fld_Company_Already_Represented_In_Market</name>
            <choiceReferences>choice_PicklistDefault</choiceReferences>
            <choiceReferences>choiceSet_Company_Already_Represented_In_Market</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is your company currently represented in this country/region?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>fld_Is_This_Arrangement_Exclusive</name>
            <choiceReferences>choice_PicklistDefault</choiceReferences>
            <choiceReferences>choiceSet_Is_This_Arrangement_Exclusive</choiceReferences>
            <dataType>String</dataType>
            <fieldText>If yes, is this arrangement exclusive?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dsp_Provide_Contact_Information</name>
            <fieldText>&lt;p&gt;If applicable, please provide the necessary contact information of your current representative/partner:&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>fld_Partner_Company_Name</name>
            <dataType>String</dataType>
            <fieldText>Company Name:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Partner_Street</name>
            <fieldText>Street:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Partner_City</name>
            <dataType>String</dataType>
            <fieldText>City:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Partner_State</name>
            <dataType>String</dataType>
            <fieldText>State:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Partner_Postal_Code</name>
            <dataType>String</dataType>
            <fieldText>Postal Code:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Partner_Country</name>
            <choiceReferences>choice_PicklistDefault</choiceReferences>
            <choiceReferences>choiceSet_Partner_Country</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Country:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>fld_Partner_Website</name>
            <dataType>String</dataType>
            <fieldText>Website</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Partner_Contact_First_Name</name>
            <dataType>String</dataType>
            <fieldText>Contact First Name:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Partner_Contact_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Contact Last Name:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Partner_Contact_Title</name>
            <dataType>String</dataType>
            <fieldText>Contact Title:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Partner_Contact_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact Phone:</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varTxt_Partner_Contact_Phone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>fld_Partner_Contact_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact Email:</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varTxt_Partner_Contact_Email</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>fld_Current_Rep_Dist_Aware_of_New_Search</name>
            <choiceReferences>choice_PicklistDefault</choiceReferences>
            <choiceReferences>choiceSet_Current_Rep_Dist_Aware_of_New_Search</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Current rep./dist. aware of new search?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Logistical_Information</name>
        <label>Logistical Information</label>
        <locationX>1483</locationX>
        <locationY>477</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>asgmt_Company_Questionnaire</targetReference>
        </connector>
        <fields>
            <name>dsp_Logistical_Information_Heading</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 75, 132); font-size: 14px;&quot;&gt;Logistical Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>fld_Desired_Dates_for_Service</name>
            <dataType>Date</dataType>
            <fieldText>Desired Dates for Service:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Alternative_Dates</name>
            <dataType>Date</dataType>
            <fieldText>Alternative Dates:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Desired_Locations</name>
            <fieldText>Desired Locations:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fld_Addtl_Services_or_Assistance_Required</name>
            <fieldText>Additional Services or Assistance Required:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Marketing_Information</name>
        <label>Marketing Information</label>
        <locationX>1254</locationX>
        <locationY>477</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>screen_Local_Partner_Information</targetReference>
        </connector>
        <fields>
            <name>dsp_Marketing_Information_Heading</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 75, 132); font-size: 14px;&quot;&gt;Marketing Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>fld_Hyperlinks_For_Marketing_Materials</name>
            <fieldText>Please list here any hyperlinks for marketing materials (links to online .pdf brochures, online videos, etc.). If you prefer, please email any materials to your local contact along with this form.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Welcome</name>
        <label>Welcome</label>
        <locationX>332</locationX>
        <locationY>51</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>recLookup_Record_Type</targetReference>
        </connector>
        <fields>
            <name>dsp_Start_Message</name>
            <fieldText>&lt;p&gt;Please press next to start the Company Questionnaire form submission process.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>175</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>screen_Welcome</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The Client Form&apos;s Company Questionnaire record to be created.</description>
        <name>varRecord_CQ</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Client_Form__c</objectType>
    </variables>
    <variables>
        <description>The portal user&apos;s contact record.</description>
        <name>varRecord_Portal_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Stores the value from the Alternate_Contact lookup field.</description>
        <name>varTxt_Alternate_Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTxt_Company_Questionnaire_Create_Error_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>There was a problem submitting your Company Questionnaire. Please contact support with the following error message:</stringValue>
        </value>
    </variables>
    <variables>
        <description>Used to query and get the contact record. Set for input so we can debug by passing in a portal user&apos;s Contact Id.</description>
        <name>varTxt_Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>fx_User_Contact_Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>varTxt_Flow_Error_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>An unknown error occurred. Please contact support.</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the value from the Partner_Contact_Email field.</description>
        <name>varTxt_Partner_Contact_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the value from the Partner_Contact_Phone field.</description>
        <name>varTxt_Partner_Contact_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTxt_Portal_Contact_Error_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>There was a problem finding the portal contact record. Please contact support with the following error message (if any):</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the value from the Primary_Contact lookup field.</description>
        <name>varTxt_Primary_Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Exporter Company Questionnaire record type developer name.</description>
        <name>varTxt_Record_Type_Developer_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Exporter_Company_Questionnaire</stringValue>
        </value>
    </variables>
    <variables>
        <name>varTxt_Record_Type_Error_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>There was a problem processing your Company Questionnaire. Please contact support with the following error message:</stringValue>
        </value>
    </variables>
    <variables>
        <description>The Exporter Company Questionnaire record type Id.</description>
        <name>varTxt_Record_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
