src/flows/CP_Close_Contact_Request_Record.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>update_owner_id</name>
        <label>update owner id</label>
        <locationX>329</locationX>
        <locationY>255</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact_Request_Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClosedQueueID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_contact_Request_Record</targetReference>
        </connector>
    </assignments>
    <description>Move Queued Record into closed Queue</description>
    <interviewLabel>CP_Close_Contact_Request_Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CP_Close_Contact_Request_Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Request_Record</name>
        <label>Get Contact Request Record</label>
        <locationX>193</locationX>
        <locationY>262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_owner_id</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RequestRecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContactRequest</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Record</name>
        <label>Get Queue Record</label>
        <locationX>193</locationX>
        <locationY>85</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Request_Record</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CP_Conatct_Us_Closed</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>ClosedQueueID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_contact_Request_Record</name>
        <label>Update contact Request Record</label>
        <locationX>472</locationX>
        <locationY>248</locationY>
        <inputReference>Get_Contact_Request_Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Queue_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ClosedQueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequestRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
