src/flows/CP_Contact_Request_Standard_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_Group_Id</name>
        <label>Get Group Id</label>
        <locationX>422</locationX>
        <locationY>496</locationY>
        <actionName>CP_Flow_Query_Groups</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Contact_Request</targetReference>
        </connector>
        <inputParameters>
            <name>groupName</name>
            <value>
                <elementReference>FormulaQueueSelector</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>QueueRecord</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Save_Contact_Request</name>
        <label>Save Contact Request</label>
        <locationX>648</locationX>
        <locationY>496</locationY>
        <actionName>CP_SaveContactRequestFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>companyName</name>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>contactExt</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>converted</name>
            <value>
                <elementReference>Converted</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>country</name>
            <value>
                <elementReference>countryExt</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>EMAIL2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>firstName</name>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lastName</name>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>LeadIdForExt</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueDeveloperName</name>
            <value>
                <elementReference>FormulaQueueSelector</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>QueueRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueName</name>
            <value>
                <elementReference>QueueRecord.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestReason</name>
            <value>
                <elementReference>IssueBox</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>zipCode</name>
            <value>
                <elementReference>zipCodeExt</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Update_IssueBox_flag</name>
        <label>Turn on validations</label>
        <locationX>309</locationX>
        <locationY>451</locationY>
        <assignmentItems>
            <assignToReference>DoValidationCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Form</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>objectName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sys_Picklist_Values__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>PickListName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Country</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Validate_Form</name>
        <label>Validate Form</label>
        <locationX>153</locationX>
        <locationY>612</locationY>
        <defaultConnector>
            <targetReference>get_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>validation Passed</defaultConnectorLabel>
        <rules>
            <name>No_Next_On_Trade_Barrier</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>IssueBox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolving a trade barrier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryErrorFlag2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectErrorFlag2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmailErrorFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ZipCodeErrorFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_us</targetReference>
            </connector>
            <label>Error Flags go back to screen and display errors</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Country</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country_1__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>country1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country_1__c</picklistField>
        <picklistObject>ContactRequest</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Country_2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contact_Us_Country__c</picklistField>
        <picklistObject>Sys_Picklist_Values__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>issue</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RequestReason</picklistField>
        <picklistObject>ContactRequest</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Request_Reason_2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contact_Us_Request_Reason__c</picklistField>
        <picklistObject>Sys_Picklist_Values__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Asia_Region</name>
        <dataType>Boolean</dataType>
        <expression>if( {!flowCountry} == &apos;Asian Development Bank&apos; || {!flowCountry} == &apos;Australia&apos; || {!flowCountry} == &apos;Banglades&apos; || {!flowCountry} == &apos;Brunei&apos; || {!flowCountry} == &apos;Burma&apos; || {!flowCountry} == &apos;Fiji&apos; || {!flowCountry} == &apos;India&apos; || {!flowCountry} == &apos;Indonesia&apos; || {!flowCountry} == &apos;Japan&apos; || {!flowCountry} == &apos;Korea&apos; || {!flowCountry} == &apos;Laos&apos; || {!flowCountry} == &apos;Malaysia&apos; || {!flowCountry} == &apos;Nepa&apos; || {!flowCountry} == &apos;New Zealand&apos; || 
{!flowCountry} == &apos;Pakistan&apos; || {!flowCountry} == &apos;Philippines&apos; || {!flowCountry} == &apos;Singapore&apos; || {!flowCountry} == &apos;Sri Lanka&apos; || {!flowCountry} == &apos;Taiwan&apos; || {!flowCountry} == &apos;Thailand&apos; ,true,false)</expression>
    </formulas>
    <formulas>
        <name>China_Region</name>
        <dataType>Boolean</dataType>
        <expression>if({!flowCountry} == &apos;China&apos; || {!flowCountry} == &apos;Hong Kong&apos; ,true,false)</expression>
    </formulas>
    <formulas>
        <name>contactExt</name>
        <dataType>String</dataType>
        <expression>if(isblank({!contactId}),&apos;NONE&apos;,{!contactId})</expression>
    </formulas>
    <formulas>
        <name>Converted</name>
        <dataType>String</dataType>
        <expression>if(IsNull({!conversionDate}),&apos;false&apos;,&apos;true&apos;)</expression>
    </formulas>
    <formulas>
        <name>CountryErrorFlag2</name>
        <dataType>Boolean</dataType>
        <expression>if({!DoValidationCheck} == true &amp;&amp; ({!flowCountry} == &quot;--None--&quot; || {!flowCountry} == &quot;--Select--&quot;),true,false)</expression>
    </formulas>
    <formulas>
        <name>countryExt</name>
        <dataType>String</dataType>
        <expression>if(isBlank({!flowCountry}),&apos;NONE&apos;,{!flowCountry})</expression>
    </formulas>
    <formulas>
        <name>EmailErrorFlag</name>
        <dataType>Boolean</dataType>
        <expression>if({!DoValidationCheck} == true &amp;&amp; REGEX ( UPPER ( {!EMAIL2}) ,&quot;^[A-Z0-9._%+-/!#$%&amp;&apos;*=?^_`{|}~]+@[A-Z0-9.-]+\\.[A-Z]{2,4}$&quot;),false,true)</expression>
    </formulas>
    <formulas>
        <name>Europe_Region1</name>
        <dataType>Boolean</dataType>
        <expression>if({!flowCountry} == &apos;Albania&apos; || {!flowCountry} == &apos;Belgium&apos; || {!flowCountry} == &apos;Austria&apos; || {!flowCountry} == &apos;Croatia&apos; || {!flowCountry} == &apos;Bosnia Herzegovina&apos; || {!flowCountry} == &apos;Bulgaria&apos; || {!flowCountry} == &apos;Czech Republic&apos; || 
{!flowCountry} == &apos;Denmark&apos; || {!flowCountry} == &apos;Estonia&apos; || {!flowCountry} == &apos;European Union&apos; ||  {!flowCountry} == &apos;Finland&apos; || {!flowCountry} == &apos;&apos; || {!flowCountry} == &apos;France&apos; || 
{!flowCountry} == &apos;Germany&apos; || {!flowCountry} == &apos;Greece&apos; || {!flowCountry} == &apos;Hungary&apos; || {!flowCountry} == &apos;Ireland&apos; || {!flowCountry} == &apos;Italy&apos; || {!flowCountry} == &apos;Kosovo&apos; || {!flowCountry} == &apos;Latvia&apos; || 
{!flowCountry} == &apos;Lithuania&apos; || {!flowCountry} == &apos;Moldova&apos; || {!flowCountry} == &apos;Montenegro&apos; || {!flowCountry} == &apos;Netherlands&apos; || {!flowCountry} == &apos;North Macedonia &apos; || {!flowCountry} == &apos;Norway&apos; || 
{!flowCountry} == &apos;Poland&apos; || {!flowCountry} == &apos;Portugal&apos; || {!flowCountry} == &apos;Romania&apos; || {!flowCountry} == &apos;Russia&apos; || {!flowCountry} == &apos;Serbia&apos; || {!flowCountry} == &apos;Slovakia&apos; || {!flowCountry} == &apos;Sweden&apos; || 
{!flowCountry} == &apos;Slovenia&apos; || {!flowCountry} == &apos;Spain&apos; || {!flowCountry} == &apos;Switzerland&apos; || {!flowCountry} == &apos;United Kingdom&apos; ,true,false)</expression>
    </formulas>
    <formulas>
        <name>FormulaQueueSelector</name>
        <dataType>String</dataType>
        <expression>if(
  ({!IssueBox}) == &apos;Contact a local trade or export assistance expert in the US&apos;      &amp;&amp; {!U_S} != &apos;Enter U.S. Zip Code&apos; &amp;&amp; !isBlank({!U_S}),&apos;CP_Contact_US_1&apos;,
    if(
      ({!IssueBox}) == &apos;Contact a local trade or export assistance expert outside the US&apos; &amp;&amp; {!Asia_Region},&apos;CP_Contact_US_2&apos;,
        if(
          ({!IssueBox}) == &apos;Contact a local trade or export assistance expert outside the US&apos; &amp;&amp;  {!China_Region},&apos;CP_Contact_US_3&apos;,
            if(
              ({!IssueBox}) == &apos;Contact a local trade or export assistance expert outside the US&apos; &amp;&amp;  {!Europe_Region1},&apos;CP_Contact_US_4&apos;,
                if(
                  ({!IssueBox}) == &apos;Contact a local trade or export assistance expert outside the US&apos; &amp;&amp;  {!Middle_East_And_Africa_Region},&apos;CP_Contact_US_5&apos;,
                    if(
                      ({!IssueBox}) == &apos;Contact a local trade or export assistance expert outside the US&apos; &amp;&amp;  {!Western_Hemisphere_And_Canada},&apos;CP_Contact_US_6&apos;,
                        if(
                          ({!IssueBox}) = &apos;Media inquiry (* media members only)&apos;, &apos;CP_Contact_US_8&apos;,
                            if(
                              ({!IssueBox}) = &apos;Policy-Identifying Top Markets-Industry Trends&apos;, &apos;CP_Contact_US_9&apos;,
                                if(
                                  ({!IssueBox}) = &apos;My trade.gov account&apos;, &apos;CP_Contact_US_10&apos;,
                                    if(
                                      ({!IssueBox}) = &apos;Website Issue&apos;, &apos;CP_Contact_US_11&apos;, &apos;CP_Contact_US_11&apos;
))))))))))</expression>
    </formulas>
    <formulas>
        <name>LeadIdForExt</name>
        <dataType>String</dataType>
        <expression>if(!Isblank({!LeadId}),{!LeadId},&apos;NONE&apos;)</expression>
    </formulas>
    <formulas>
        <name>Middle_East_And_Africa_Region</name>
        <dataType>Boolean</dataType>
        <expression>if({!flowCountry} == &apos;Afghanistan&apos; || {!flowCountry} == &apos;African&apos; || {!flowCountry} == &apos;Algeria&apos; || {!flowCountry} == &apos;Angola&apos; || {!flowCountry} == &apos;Armenia&apos; || {!flowCountry} == &apos;Azerbaijan&apos; || {!flowCountry} == &apos;Bahrain&apos; || 
{!flowCountry} == &apos;Benin&apos; || {!flowCountry} == &apos;Botswana&apos; || {!flowCountry} == &apos;Burkina&apos; || {!flowCountry} == &apos;Cambodia&apos; || {!flowCountry} == &apos;Cameroon&apos; || {!flowCountry} == &apos;Chad&apos; ||
 {!flowCountry} == &apos;Congo, the Democratic Republic of the&apos; || {!flowCountry} == JSENCODE(&quot;Cote d&apos;Ivoire&quot;) || {!flowCountry} == &apos;Cyprus&apos; || {!flowCountry} == &apos;Egypt&apos; || {!flowCountry} == &apos;Eswatini&apos; || {!flowCountry} == &apos;Ethiopia&apos; || 
{!flowCountry} == &apos;Gabon&apos; || {!flowCountry} == &apos;Gambia&apos; || {!flowCountry} == &apos;Georgia&apos; || {!flowCountry} == &apos;Ghana&apos; || {!flowCountry} == &apos;Guinea&apos; || {!flowCountry} == &apos;Guyana&apos; || {!flowCountry} == &apos;Israel&apos; || {!flowCountry} == &apos;Jordan&apos; || {!flowCountry} == &apos;Kazakhstan&apos; || {!flowCountry} == &apos;Kenya&apos; || {!flowCountry} == &apos;Kuwait&apos; || {!flowCountry} == &apos;Kyrgyz Republic&apos; || {!flowCountry} == &apos;Lebanon&apos; || {!flowCountry} == &apos;Liberia&apos; || {!flowCountry} == &apos;Madagascar&apos; || {!flowCountry} == &apos;Malawi&apos; || {!flowCountry} == &apos;Mali&apos; || {!flowCountry} == &apos;Mauritania&apos; || {!flowCountry} == &apos;Mongolia&apos; || {!flowCountry} == &apos;Morocco&apos; || {!flowCountry} == &apos;Mozambique&apos; || {!flowCountry} == &apos;Namibia&apos; || 
{!flowCountry} == &apos;Niger&apos; || {!flowCountry} == &apos;Oman&apos; || {!flowCountry} == &apos;Qatar&apos; || {!flowCountry} == &apos;Rwanda&apos; || {!flowCountry} == &apos;Saudi Arabia&apos; || {!flowCountry} == &apos;South Africa&apos; || {!flowCountry} == &apos;Tajikistan&apos; ||
 {!flowCountry} == &apos;Tanzania&apos; || {!flowCountry} == &apos;Trinidad and Tobago&apos; || {!flowCountry} == &apos;Tunisia&apos; || {!flowCountry} == &apos;Turkey&apos; || {!flowCountry} == &apos;Turkmenistan&apos; || {!flowCountry} == &apos;Uganda&apos; || {!flowCountry} == &apos;Ukraine&apos; || 
{!flowCountry} == &apos;United Arab Emirates&apos; || {!flowCountry} == &apos;Uzbekistan&apos; || {!flowCountry} == &apos;West Bank&apos; || {!flowCountry} == &apos;Zambia&apos; || {!flowCountry} == &apos;Zimbabwe&apos; ,true,false)</expression>
    </formulas>
    <formulas>
        <name>SelectErrorFlag2</name>
        <dataType>Boolean</dataType>
        <expression>if({!DoValidationCheck} == true &amp;&amp; {!IssueBox} == &quot;--Select--&quot;, true,false)</expression>
    </formulas>
    <formulas>
        <name>TradeBArrierURL</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;https://tcc.export.gov/test/Report_a_Barrier/tancdeploy.asp&quot;,&quot;Click to REport a trade barrier&quot;)</expression>
    </formulas>
    <formulas>
        <name>Western_Hemisphere_And_Canada</name>
        <dataType>Boolean</dataType>
        <expression>if( {!flowCountry} == &apos;Argentina&apos; || {!flowCountry} == &apos;Bahamas&apos; || {!flowCountry} == &apos;Barbados&apos; || {!flowCountry} == &apos;Belize&apos; || {!flowCountry} == &apos;Bermuda&apos; || {!flowCountry} == &apos;Bolivia&apos; || {!flowCountry} == &apos;Brazil&apos; || 
{!flowCountry} == &apos;Canada&apos; || {!flowCountry} == &apos;Chile&apos; || {!flowCountry} == &apos;Colombia&apos; || {!flowCountry} == &apos;Costa Rica&apos; || {!flowCountry} == &apos;Dominican Republic&apos; || {!flowCountry} == &apos;Ecuador&apos; ||
{!flowCountry} == &apos;El Salvador&apos; || {!flowCountry} == &apos;Guatemala&apos; || {!flowCountry} == &apos;Haiti&apos; || {!flowCountry} == &apos;Honduras&apos; || {!flowCountry} == &apos;Iceland&apos; || {!flowCountry} == &apos;Jamaica&apos; || {!flowCountry} == &apos;Lesotho&apos; || 
{!flowCountry} == &apos;Mexico&apos; || {!flowCountry} == &apos;Nicaragua&apos; || {!flowCountry} == &apos;Panama&apos; || {!flowCountry} == &apos;Paraguay&apos; || {!flowCountry} == &apos;Peru&apos; || {!flowCountry} == &apos;Suriname&apos; || {!flowCountry} == &apos;Uruguay&apos; || 
{!flowCountry} == &apos;Venezuela&apos; ,true,false)</expression>
    </formulas>
    <formulas>
        <name>ZipCodeErrorFlag</name>
        <dataType>Boolean</dataType>
        <expression>if({!flowCountry} == &quot;United States&quot; &amp;&amp; {!IssueBox} == &quot;Contact a local trade or export assistance expert in the US&quot; &amp;&amp; NOT(REGEX({!U_S}, &quot;\\d{5}(-\\d{4})?&quot;)),true,false)</expression>
    </formulas>
    <formulas>
        <name>zipCodeExt</name>
        <dataType>String</dataType>
        <expression>if(ISBLANK({!U_S}),&apos;NONE&apos;,{!U_S})</expression>
    </formulas>
    <interviewLabel>CP_Contact_Request_Standard_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CP_Contact_Request_Standard_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_contact</name>
        <label>get contact</label>
        <locationX>414</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EMAIL2</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>conversionDate</assignToReference>
            <field>CP_Conversion_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadSource</assignToReference>
            <field>LeadSource</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getrecordTypeId</name>
        <label>getrecordTypeId</label>
        <locationX>147</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_us</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ContactRequest</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>sys_PcikList_RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Contact_us</name>
        <label>Contact us</label>
        <locationX>153</locationX>
        <locationY>307</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_IssueBox_flag</targetReference>
        </connector>
        <fields>
            <name>IssueSelectError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(211, 25, 25);&quot;&gt;Please select an issue to continue.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SelectErrorFlag2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CountrySelectionError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(182, 10, 10); font-size: 16px;&quot;&gt;Please select a Country to continue.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CountryErrorFlag2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EmailErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(199, 17, 17);&quot;&gt;Please enter a valid email address.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>EmailErrorFlag</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DoValidationCheck</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ZipCodeErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(199, 20, 20);&quot;&gt;Please enter a valid zip code.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ZipCodeErrorFlag</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>help</name>
            <fieldText>&lt;p&gt;I need help with...&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IssueBox</name>
            <choiceReferences>Request_Reason_2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an Issue</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>URL</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Please report a trade barrier here::&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://tcc.export.gov/Report_a_Barrier/index.asp&quot; target=&quot;_blank&quot;&gt;https://tcc.export.gov/Report_a_Barrier/index.asp&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IssueBox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Resolving a trade barrier</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>First_Name</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IssueBox</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Resolving a trade barrier</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Last_Name</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IssueBox</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Resolving a trade barrier</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Company_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Company_Name</elementReference>
            </defaultValue>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IssueBox</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Resolving a trade barrier</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EMAIL2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>EMAIL2</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IssueBox</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Resolving a trade barrier</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>U_S</name>
            <dataType>String</dataType>
            <fieldText>Zip Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IssueBox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Contact a local trade or export assistance expert in the US</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Global</name>
            <extensionName>c:Flow_RecordTypePickListScreenCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selection</name>
                <value>
                    <elementReference>flowCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>RecordTypeId</name>
                <value>
                    <elementReference>sys_PcikList_RecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Object</name>
                <value>
                    <stringValue>Sys_Picklist_Values__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Country</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldAPIName</name>
                <value>
                    <stringValue>Contact_Us_Country__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>flowCountry</assignToReference>
                <name>selection</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IssueBox</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Resolving a trade barrier</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Message</name>
            <defaultValue>
                <stringValue>{!Message}</stringValue>
            </defaultValue>
            <fieldText>Message</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IssueBox</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Resolving a trade barrier</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Captcha</name>
            <extensionName>c:CaptchaScreenCMP</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IssueBox</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Resolving a trade barrier</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>issue</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Select</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>833</locationX>
        <locationY>496</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_message</name>
            <fieldText>&lt;p&gt;Thanks for contacting the International Trade Administration. Your request has been routed to the appropriate staff who will respond back as soon as possible.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PleaseVistOfficeLisst</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://2016.export.gov/usoffices/index.asp&quot; target=&quot;_blank&quot;&gt;Find the U.S. office closest to your location&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FormulaQueueSelector</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>CP_Contact_US_1</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>74</locationX>
        <locationY>67</locationY>
        <connector>
            <targetReference>getrecordTypeId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>NONE</stringValue>
        </value>
    </variables>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactSelect</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>conversionDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountryErrorFlag1</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DoValidationCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>flowCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>--Select--</stringValue>
        </value>
    </variables>
    <variables>
        <name>IssueBoxSelectionError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>NONE</stringValue>
        </value>
    </variables>
    <variables>
        <name>LeadSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>NONE</stringValue>
        </value>
    </variables>
    <variables>
        <name>QueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QueueRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>SelectedQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sys_PcikList_RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>null</stringValue>
        </value>
    </variables>
</Flow>
