src/flows/LeadUpdates.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_lead</name>
        <label>Post to lead</label>
        <locationX>317</locationX>
        <locationY>643</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>rtr</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Record has been updated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>feedID</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>error_message</name>
        <label>error message</label>
        <locationX>368</locationX>
        <locationY>329</locationY>
        <assignmentItems>
            <assignToReference>$Record.PriorAssignedUser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no good</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_User_and_Date</name>
        <label>Update User and Date</label>
        <locationX>175</locationX>
        <locationY>482</locationY>
        <assignmentItems>
            <assignToReference>UpdateRecord.PriorAssignedUser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AssignedUser__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecord.assignmentDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_chatter_group_id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_update_date</name>
        <label>Check update date</label>
        <locationX>168</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>error_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>do_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assignmentChange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_and_Date</targetReference>
            </connector>
            <label>do update?</label>
        </rules>
    </decisions>
    <formulas>
        <name>assignmentChange</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.AssignedUser__c} != {!$Record.PriorAssignedUser__c}</expression>
    </formulas>
    <interviewLabel>LeadUpdates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LeadUpdates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_chatter_group_id</name>
        <label>get chatter group id</label>
        <locationX>318</locationX>
        <locationY>482</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Post_to_lead</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Export Lead</stringValue>
            </value>
        </filters>
        <object>CollaborationGroup</object>
        <outputAssignments>
            <assignToReference>feedID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>rtr</name>
        <label>rtr</label>
        <locationX>467</locationX>
        <locationY>643</locationY>
        <inputReference>UpdateRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_update_date</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>feedID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
