src/flows/Lead_SendCustomNotifications_ScheduledFlow_RunsDaily.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Notifies the Assigned User and if on the 2nd contact attempt also notifies their manager.</description>
        <name>Notify_Assigned_User</name>
        <label>Notify Assigned User</label>
        <locationX>1084</locationX>
        <locationY>533</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Notification_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Notification_Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <description>Populates the variables used to send the 1st contact attempt alert notification and email alert.</description>
        <name>X1st_Attempt_Values</name>
        <label>1st Attempt Values</label>
        <locationX>488</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference>RecipientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Assigned_User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Notification_Body</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The 1st Contact Attempt Due Date Has Now Passed!</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>This_Lead_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>This_Lead_Record.First_Attempt_Past_Due__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_New_Lead_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Populates the variables used to send the 2nd contact attempt alert notification and email alert.</description>
        <name>x2nd_Attempt_Values</name>
        <label>2nd Attempt Values</label>
        <locationX>484</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>RecipientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Assigned_User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Notification_Body</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The 2nd Contact Attempt Due Date Has Now Passed!</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>This_Lead_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>This_Lead_Record.Second_Attempt_Past_Due__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_New_Lead_Values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Evaluated the Lead record to determine if it should be evaluated as a Queued Lead or an Assigned Lead. Since the Flow will only evaluate records with a status of unverified and with a queued date, we therefore know that if a Lead does not have an assigned user, it is still queued.  If it has an assigned user, then it has left the queue and is therefore assigned.</description>
        <name>Perform_Assigned_or_Queued_Actions</name>
        <label>Perform Assigned or Queued Actions?</label>
        <locationX>169</locationX>
        <locationY>565</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Queued_Past_Due</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Queue_Routing_Past_Due_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Queue_Routing_Past_Due</targetReference>
            </connector>
            <label>Queued - Past Due</label>
        </rules>
        <rules>
            <name>Assigned_1st_Attempt_Past_Due</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X1st_Contact_Attempt_Past_Due_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1st_Attempt_Values</targetReference>
            </connector>
            <label>Assigned - 1st Past Due</label>
        </rules>
        <rules>
            <name>Assigned_2nd_Attempt_Past_Due</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X1st_Contact_Attempt_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X2nd_Contact_Attempt_Past_Due_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>x2nd_Attempt_Values</targetReference>
            </connector>
            <label>Assigned - 2nd Past Due</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluates the result of the {!Return_FlowRunDate_As_Weekday}  to determine if the remainder of the flow should run or not.</description>
        <name>Weekday</name>
        <label>Weekday?</label>
        <locationX>170</locationX>
        <locationY>388</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Weekday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Return_FlowRunDate_As_Weekday</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Return_FlowRunDate_As_Weekday</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Perform_Assigned_or_Queued_Actions</targetReference>
            </connector>
            <label>Is Weekday</label>
        </rules>
        <rules>
            <name>Not_Weekday</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Return_FlowRunDate_As_Weekday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Return_FlowRunDate_As_Weekday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <label>Not Weekday</label>
        </rules>
    </decisions>
    <description>Scheduled Daily Flow to conditionally send notifications to users.</description>
    <formulas>
        <description>Displays the Lead&apos;s first and last name as the Title of the notification.</description>
        <name>Notification_Title</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName} &amp; &quot; &quot; &amp; {!$Record.LastName}</expression>
    </formulas>
    <formulas>
        <description>Evaluates the calendar date in which the flow interview is running and returns the weekday as a number value between 1 (Sunday) and 7 (Saturday).</description>
        <name>Return_FlowRunDate_As_Weekday</name>
        <dataType>Number</dataType>
        <expression>WEEKDAY({!$Flow.CurrentDate})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Lead_SendCustomNotifications_ScheduledFlow_RunsDaily {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead_SendCustomNotifications_ScheduledFlow_RunsDaily</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Retrieve the Id of the custom notification record.</description>
        <name>Custom_Notification</name>
        <label>Custom Notification</label>
        <locationX>887</locationX>
        <locationY>533</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notify_Assigned_User</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled_Notifications_On_Lead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the Lead record with values populated in the This_Lead_Record Variable.</description>
        <name>Set_New_Lead_Values</name>
        <label>Set New Lead Values</label>
        <locationX>702</locationX>
        <locationY>525</locationY>
        <connector>
            <targetReference>Custom_Notification</targetReference>
        </connector>
        <inputReference>This_Lead_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Set this Lead record&apos;s Queue Routing Past Due field to true.</description>
        <name>Set_Queue_Routing_Past_Due</name>
        <label>Set Queue Routing Past Due</label>
        <locationX>177</locationX>
        <locationY>825</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Queue_Routing_Past_Due__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Weekday</targetReference>
        </connector>
        <filters>
            <field>Queued_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Export</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-08-27</startDate>
            <startTime>23:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <description>The body text for the custom notification to be sent to the Assigned User of the Lead</description>
        <name>Notification_Body</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Hold the recipient User IDs for the notification.</description>
        <name>RecipientIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Variable to store update values for this Lead Record.</description>
        <name>This_Lead_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
