src/flows/QuoteLineItem_AfterSave_Upsert.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <description>Evaluates if the running user has access to run this flow via the returned result of their Master Automation Custom Setting.</description>
        <name>Evaluate_Access</name>
        <label>Access?</label>
        <locationX>252</locationX>
        <locationY>176</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Access_Granted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>masterAutomation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QuoteLineItem_Get</targetReference>
            </connector>
            <label>Access Granted</label>
        </rules>
        <rules>
            <name>Access_Denied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>masterAutomation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Access Denied</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the Contract should be updated by evaluating the Statement of Work Field Values.</description>
        <name>Evaluate_Contract</name>
        <label>Evaluate Contract</label>
        <locationX>264</locationX>
        <locationY>1117</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteLineItem_Get.Quote.Contract.Statement_of_Work__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>QuoteLineItem_Get.Statement_of_Work__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Update</targetReference>
            </connector>
            <label>Update</label>
        </rules>
        <rules>
            <name>Dont_Update_contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteLineItem_Get.Quote.Contract.Statement_of_Work__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>QuoteLineItem_Get.Statement_of_Work__c</elementReference>
                </rightValue>
            </conditions>
            <label>Don&apos;t Update</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluates if the record is new or not.</description>
        <name>Evaluate_IsNew</name>
        <label>Is New?</label>
        <locationX>250</locationX>
        <locationY>479</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteLineItem_Get.LastModifiedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>QuoteLineItem_Get.CreatedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_QuoteLineItem_New</targetReference>
            </connector>
            <label>Is New</label>
        </rules>
        <rules>
            <name>Not_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteLineItem_Get.CreatedDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>QuoteLineItem_Get.LastModifiedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_QuoteLineItem_IsPrimary_Update</targetReference>
            </connector>
            <label>Not New</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the Quote should be updated by evaluating the Client Form Type field Values.</description>
        <name>Evaluate_Quote</name>
        <label>Evaluate Quote</label>
        <locationX>261</locationX>
        <locationY>928</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteLineItem_Get.Quote.Client_Form_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>QuoteLineItem_Get.Product2.Client_Form_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_Update</targetReference>
            </connector>
            <label>Update</label>
        </rules>
        <rules>
            <name>Dont_Update_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteLineItem_Get.Quote.Client_Form_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>QuoteLineItem_Get.Product2.Client_Form_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Contract</targetReference>
            </connector>
            <label>Don&apos;t Update</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the Quote Line Item Requires an Update to its Client Form Type</description>
        <name>Evaluate_QuoteLineItem</name>
        <label>Evaluate QuoteLineItem</label>
        <locationX>259</locationX>
        <locationY>691</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_QuoteLineItem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteLineItem_Get.Client_Form_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>QuoteLineItem_Get.Product2.Client_Form_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QuoteLineItem_Update</targetReference>
            </connector>
            <label>Update</label>
        </rules>
        <rules>
            <name>Dont_Update_QuoteLineItem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteLineItem_Get.Client_Form_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>QuoteLineItem_Get.Product2.Client_Form_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Quote</targetReference>
            </connector>
            <label>Don&apos;t Update</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluates if the context QuoteLineItem is Primary or not.  If it is - continue.  If not - stop.</description>
        <name>Evaluate_QuoteLineItem_IsPrimary_Update</name>
        <label>Primary QuoteLineItem?</label>
        <locationX>50</locationX>
        <locationY>567</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Primary_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteLineItem_Get.IsPrimary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_QuoteLineItem</targetReference>
            </connector>
            <label>Primary</label>
        </rules>
        <rules>
            <name>Not_Primary_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteLineItem_Get.IsPrimary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Not Primary</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluates if the context QuoteLineItem is Primary or not.  If it is - continue.  If not - stop.</description>
        <name>Evaluate_QuoteLineItem_New</name>
        <label>Primary QuoteLineItem?</label>
        <locationX>469</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Primary_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteLineItem_Get.IsPrimary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_QuoteLineItem</targetReference>
            </connector>
            <label>Primary</label>
        </rules>
        <rules>
            <name>Not_Primary_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteLineItem_Get.IsPrimary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Not Primary</label>
        </rules>
    </decisions>
    <formulas>
        <name>masterAutomation</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Master_Automation__c.FlowsEnabled__c}</expression>
    </formulas>
    <interviewLabel>QuoteLineItem_AfterSave_Upsert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>QuoteLineItem_AfterSave_Upsert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Retrieve Context QuoteLineItem Record from recordID</description>
        <name>QuoteLineItem_Get</name>
        <label>QuoteLineItem</label>
        <locationX>259</locationX>
        <locationY>342</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_IsNew</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Contract_Update</name>
        <label>Contract</label>
        <locationX>274</locationX>
        <locationY>1287</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteLineItem_Get.Quote.Contract.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Statement_of_Work__c</field>
            <value>
                <elementReference>QuoteLineItem_Get.Statement_of_Work__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the Quote related to the context QuoteLineItem</description>
        <name>Quote_Update</name>
        <label>Quote</label>
        <locationX>453</locationX>
        <locationY>1027</locationY>
        <connector>
            <targetReference>Evaluate_Contract</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteLineItem_Get.Quote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client_Form_Type__c</field>
            <value>
                <elementReference>QuoteLineItem_Get.Product2.Client_Form_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Context Quote Line Item.</description>
        <name>QuoteLineItem_Update</name>
        <label>QuoteLineItem</label>
        <locationX>87</locationX>
        <locationY>824</locationY>
        <connector>
            <targetReference>Evaluate_Quote</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteLineItem_Get.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client_Form_Type__c</field>
            <value>
                <elementReference>QuoteLineItem_Get.Product2.Client_Form_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>260</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Evaluate_Access</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
